.check-item-wrapper {
  display: flex;
  align-items: center;
}

.check-item-wrapper:hover {
  background-color: #F5F2F2;
  border-radius: 2px;
  cursor: pointer;
}

.check-item-checkbox {
  margin-right: 8px;
}

.check-item-text.checked {
  text-decoration: line-through;
}
